<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>creates a vpc in aws-us-west-2</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>aws_region</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>us-west-2</string>
              <string>us-east-2</string>
              <string>us-east-1</string>
              <string>ap-northeast-1</string>
              <string>ap-northeast-2</string>
              <string>ap-northeast-3</string>
              <string>ap-south-1</string>
              <string>ap-southeast-1</string>
              <string>ap-southeast-2</string>
              <string>ca-central-1</string>
              <string>cn-north-1</string>
              <string>cn-northwest-1</string>
              <string>eu-central-1</string>
              <string>eu-west-1</string>
              <string>eu-west-2</string>
              <string>eu-west-3</string>
              <string>sa-east-1</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /home/snops/f5-rs-aws-net/ &amp;&amp; ansible-playbook --vault-password-file ~/.vault_pass.txt \
playbooks/aws_net_deploy.yaml -e &quot;\
deploymentName=98072100 \
aws_region=${aws_region}&quot;
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <jenkins.plugins.slack.SlackNotifier plugin="slack@2.3">
      <baseUrl></baseUrl>
      <teamDomain></teamDomain>
      <authToken></authToken>
      <authTokenCredentialId></authTokenCredentialId>
      <botUser>false</botUser>
      <room></room>
      <startNotification>true</startNotification>
      <notifySuccess>true</notifySuccess>
      <notifyAborted>false</notifyAborted>
      <notifyNotBuilt>false</notifyNotBuilt>
      <notifyUnstable>false</notifyUnstable>
      <notifyRegression>false</notifyRegression>
      <notifyFailure>false</notifyFailure>
      <notifyBackToNormal>false</notifyBackToNormal>
      <notifyRepeatedFailure>false</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <includeFailedTests>false</includeFailedTests>
      <commitInfoChoice>NONE</commitInfoChoice>
      <includeCustomMessage>true</includeCustomMessage>
      <customMessage>user: $rs_username , solution: &quot;aws waf with splunk&quot;</customMessage>
    </jenkins.plugins.slack.SlackNotifier>
  </publishers>
  <buildWrappers/>
</project>