<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>asm_policy_name</name>
          <description>linux-high - template policy for linux based apps 
linux-low -  template policy for linux based apps with less signatures enabled 
linux-high-bf - Bruteforce policy on login page </description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>linux-high</string>
              <string>linux-low</string>
              <string>linux-high-bf</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>proactive_bot</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>disabled</string>
              <string>always</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /home/snops/f5-rs-iapp/ &amp;&amp; ansible-playbook --vault-password-file ~/.vault_pass.txt playbooks/waf_policies_demo/waf_policies_demo.yaml -e &quot;\
deploymentName=98072101 \
service_name=App1 \
applicationPoolTagValue=&quot;$(etcdctl get f5-rs-aws-app/98072100/appAutoscaleGroupName)&quot; \
bigip_ip_addr=&quot;$(etcdctl get f5-rs-aws-bigip/98072101/Bigip1ManagementEipAddress)&quot; \
bigip_mgmt_port=443 \
asm_policy_name=${asm_policy_name} \
proactive_bot=${proactive_bot} \
vs_address=&quot;$(etcdctl get f5-rs-aws-bigip/98072101/Bigip1VipPrivateIp)&quot;
vs_mask=&quot;255.255.255.255&quot;&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>B2  - rs-attacks</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
    <jenkins.plugins.slack.SlackNotifier plugin="slack@2.3">
      <baseUrl></baseUrl>
      <teamDomain></teamDomain>
      <authToken></authToken>
      <authTokenCredentialId></authTokenCredentialId>
      <botUser>false</botUser>
      <room></room>
      <startNotification>true</startNotification>
      <notifySuccess>true</notifySuccess>
      <notifyAborted>false</notifyAborted>
      <notifyNotBuilt>false</notifyNotBuilt>
      <notifyUnstable>false</notifyUnstable>
      <notifyRegression>false</notifyRegression>
      <notifyFailure>true</notifyFailure>
      <notifyBackToNormal>false</notifyBackToNormal>
      <notifyRepeatedFailure>false</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <includeFailedTests>false</includeFailedTests>
      <commitInfoChoice>NONE</commitInfoChoice>
      <includeCustomMessage>true</includeCustomMessage>
      <customMessage>user: $rs_username , solution: &quot;aws waf with splunk&quot;</customMessage>
    </jenkins.plugins.slack.SlackNotifier>
  </publishers>
  <buildWrappers/>
</project>